<div class="search-field">
    <mat-form-field class="search-field__input"
                    subscriptSizing="dynamic">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix
                  fontIcon="search"></mat-icon>
        <input (keyup.enter)="onSearch()"
               [(ngModel)]="searchString"
               [disabled]="disabled"
               matInput
               type="text">
        @if (searchString.length > 0) {
            <button matSuffix
                    mat-icon-button
                    aria-label="Clear search"
                    matTooltip="Clear search"
                    [disabled]="disabled"
                    (click)="onClear()">
                <mat-icon fontIcon="close"></mat-icon>
            </button>
        }
    </mat-form-field>
    <button (click)="onSearch()"
            [disabled]="disabled"
            matButton="filled"
            aria-label="Search">
        Search
    </button>
</div>
