<div class="depot-performance">
    <app-data-range-selection></app-data-range-selection>
    <app-depot-performance-kpis></app-depot-performance-kpis>

    <div class="depot-performance__columns">
        <div class="depot-performance__main tq-scroll">
            <app-depot-performance-chart></app-depot-performance-chart>
            <app-benchmark></app-benchmark>
        </div>
        @if (!hideAbsoluteValues()) {
            <div class="depot-performance__side tq-scroll">
                <app-transaction-overview></app-transaction-overview>
            </div>
        }
    </div>
</div>
