<div class="data-source-page">
    <div class="data-source-page__list tq-scroll">
        @for (dataSource of dataSources(); track dataSource.id) {
            <app-data-source-card [dataSource]="dataSource"
                                  (remove)="delete($event)">
            </app-data-source-card>
        }
        <app-data-source-card dataSource="new">
        </app-data-source-card>
    </div>

    <div class="data-source-page__detail">
        @if (showApiKeyOnly()) {
            <app-data-source-api-key>
            </app-data-source-api-key>
        } @else {
            <app-data-source-details [dataSourceVariant]="dataSourceVariant()">
            </app-data-source-details>
        }
    </div>
</div>
