@let ds = dataSource();
<div class="data-source-card"
     [class.data-source-card--selected]="isSelected()"
     [class.data-source-card--new]="ds === 'new'"
     (click)="clickDataSource()">
    <span class="data-source-card__name tq-truncate">
        @if (ds === 'new') {
            Add new data source
        } @else {
            {{ ds.name }}
        }
    </span>

    <button class="data-source-card__action"
            type="button"
            [class.data-source-card__action--disabled]="sideButtonDisabled()"
            [disabled]="sideButtonDisabled()"
            [attr.aria-label]="ds === 'new' ? 'Add data source' : 'Delete data source'"
            (click)="clickSideButton($event)">
        @if (ds === 'new') {
            <mat-icon fontIcon="add"></mat-icon>
        } @else {
            <mat-icon fontIcon="delete"></mat-icon>
        }
    </button>
</div>
