@if (dataAvailable()) {
    <mat-button-toggle-group class="price-chart__ranges">
        <mat-button-toggle (click)="changeDataRange('max')"
                           [checked]="dataRange() === 'max'">
            Max
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('ytd')"
                           [checked]="dataRange() === 'ytd'">
            YTD
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('1w')"
                           [checked]="dataRange() === '1w'">
            1W
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('1m')"
                           [checked]="dataRange() === '1m'">
            1M
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('3m')"
                           [checked]="dataRange() === '3m'">
            3M
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('6m')"
                           [checked]="dataRange() === '6m'">
            6M
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('1y')"
                           [checked]="dataRange() === '1y'">
            1Y
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('2y')"
                           [checked]="dataRange() === '2y'">
            2Y
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('3y')"
                           [checked]="dataRange() === '3y'">
            3Y
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('5y')"
                           [checked]="dataRange() === '5y'">
            5Y
        </mat-button-toggle>

        <mat-button-toggle (click)="changeDataRange('10y')"
                           [checked]="dataRange() === '10y'">
            10Y
        </mat-button-toggle>
    </mat-button-toggle-group>

    @if (isLoading()) {
        <mat-progress-bar mode="query"></mat-progress-bar>
    }

    <div (chartInit)="onChartInit($event)"
         [options]="prices() | historicalPriceChart : percent()"
         class="price-chart__canvas"
         echarts>
    </div>

    <div class="price-chart__options">
        <app-currency-select (onCurrencySelect)="changeCurrency($event)">
        </app-currency-select>

        <mat-slide-toggle [checked]="percent()"
                          (change)="usePercent($event.checked)">
            Show as Percent Change
        </mat-slide-toggle>
    </div>
} @else {
    <div class="tq-empty">
        <mat-icon class="tq-empty__icon"
                  fontIcon="show_chart"></mat-icon>
        <span class="tq-empty__title">No price data available</span>
        <span class="tq-empty__hint">Configure a historical price data source for this security.</span>
    </div>
}
