<div class="notification">
    <tq-icon class="notification__logo"
             [src]="dividendAnnouncement().securityId | securityLogoUrl">
    </tq-icon>

    <div class="notification__text">
        <span class="notification__name tq-truncate">
            {{ dividendAnnouncement().securityId | securityName }}
        </span>
        <span class="notification__meta tq-numeric">
            {{ dividendAnnouncement().payDate | tqDate }}
        </span>
        <span class="notification__amount tq-numeric">
            {{ dividendAnnouncement().amountPerShare | tqCurrency : dividendAnnouncement().currency : '1.2-5' }}&nbsp;per&nbsp;share
        </span>
    </div>

    <app-acknowledge-button (onAcknowledge)="acknowledge($event)">
    </app-acknowledge-button>
</div>
