<app-title-toolbar (onClose)="cancel()"
                   title="Delete Security Group">
</app-title-toolbar>

<div class="tq-dialog__body">
    <div class="tq-notice tq-notice--warn">
        <app-warn-icon class="tq-notice__icon"></app-warn-icon>
        <span>Are you sure you want to delete {{ securityGroup.name }}?</span>
    </div>
</div>

<div class="tq-dialog__actions">
    <button (click)="cancel()"
            matButton>
        Cancel
    </button>
    <button (click)="delete()"
            class="tq-danger"
            matButton="filled">
        Delete
    </button>
</div>
