<div class="announcement">
    <tq-icon [src]="dividendAnnouncement().securityId | securityLogoUrl"></tq-icon>

    <div class="announcement__text">
        <span class="announcement__name tq-truncate">
            {{ dividendAnnouncement().securityId | securityName }}
        </span>
        <span class="announcement__meta tq-numeric">
            {{ dividendAnnouncement().payDate | tqDate }}
        </span>
        <span class="announcement__amount tq-numeric">
            {{ dividendAnnouncement().amountPerShare | tqCurrency : dividendAnnouncement().currency : '1.2-5' }}&nbsp;per&nbsp;share
        </span>
    </div>
</div>
