@if (backendAvailable()) {
    <app-header class="shell__header"></app-header>
    <mat-drawer-container class="shell__body">
        <mat-drawer [opened]="sideMenuOpen()"
                    mode="side">
            <nav class="shell__nav">
                <button class="shell__nav-item"
                        type="button"
                        [class.shell__nav-item--selected]="openPage() === 'securities'"
                        (click)="selectPage('securities')"
                        routerLink="/securities">
                    <mat-icon fontIcon="description"></mat-icon>
                    Securities
                </button>

                <button class="shell__nav-item"
                        type="button"
                        [class.shell__nav-item--selected]="openPage() === 'dividends'"
                        (click)="selectPage('dividends')"
                        routerLink="/dividends">
                    <mat-icon fontIcon="payments"></mat-icon>
                    Dividends
                </button>

                <button class="shell__nav-item"
                        type="button"
                        [class.shell__nav-item--selected]="openPage() === 'depots'"
                        (click)="selectPage('depots')"
                        routerLink="/depots">
                    <mat-icon fontIcon="trending_up"></mat-icon>
                    Depots
                </button>

                <button class="shell__nav-item"
                        type="button"
                        [class.shell__nav-item--selected]="openPage() === 'settings'"
                        (click)="selectPage('settings')"
                        routerLink="settings">
                    <mat-icon fontIcon="settings"></mat-icon>
                    Settings
                </button>
            </nav>
        </mat-drawer>
        <mat-drawer-content class="shell__content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
} @else {
    <app-splash-screen></app-splash-screen>
}
