<div class="position-page">
    <div class="position-page__toolbar">
        <mat-button-toggle-group hideSingleSelectionIndicator="true">
            <mat-button-toggle (click)="selectView('donut')"
                               [checked]="selectedView() === 'donut'"
                               aria-label="Donut Chart"
                               matTooltip="Donut Chart">
                <mat-icon fontIcon="donut_large"></mat-icon>
            </mat-button-toggle>

            <mat-button-toggle (click)="selectView('list')"
                               [checked]="selectedView() === 'list'"
                               aria-label="List"
                               matTooltip="List">
                <mat-icon fontIcon="format_list_bulleted"></mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="position-page__group-by"
                        subscriptSizing="dynamic">
            <mat-label>Group by</mat-label>
            <mat-select (selectionChange)="selectGroupBy($event.value)"
                        [disabled]="selectedDepots().length === 0"
                        [value]="groupBy()">
                <mat-option value="none">None</mat-option>
                @for (attribute of positionGroupAttributes; track attribute.id) {
                    <mat-option [value]="attribute.id">{{ attribute.label }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle (click)="toggleUseBuyIn()"
                          [checked]="useBuyIn()">
            Use Buy-In Values
        </mat-slide-toggle>

        <span class="tq-spacer"></span>

        <button (click)="downloadImage()"
                [disabled]="selectedDepots().length === 0"
                mat-icon-button
                aria-label="Download Chart as Image"
                matTooltip="Download Chart as Image">
            <mat-icon fontIcon="file_download"></mat-icon>
        </button>
    </div>

    @if (selectedDepots().length > 0) {
        <div id="position-view-container"
             class="position-page__view">
            @if (selectedView() === 'donut') {
                <app-position-pie-chart></app-position-pie-chart>
            } @else if (selectedView() === 'list') {
                <app-position-list></app-position-list>
            }
        </div>
    } @else {
        <div class="tq-empty">
            <mat-icon class="tq-empty__icon"
                      fontIcon="pie_chart"></mat-icon>
            <span class="tq-empty__title">No depot selected</span>
            <span class="tq-empty__hint">Pick a depot in the header to see its positions.</span>
        </div>
    }
</div>
