<app-title-toolbar (onClose)="cancel()"
                   title="Remove model">
</app-title-toolbar>

<div class="tq-dialog__body">
    <div class="tq-notice tq-notice--warn">
        <mat-icon class="tq-notice__icon"
                  fontIcon="warning"></mat-icon>
        <span>This deletes {{ description }} from disk.</span>
    </div>
</div>

<div class="tq-dialog__actions">
    <button (click)="cancel()"
            matButton>
        Cancel
    </button>
    <button (click)="confirm()"
            class="tq-danger"
            matButton="filled">
        Remove
    </button>
</div>
