<div class="week">
    <section class="week__day">
        <h3 class="tq-section-label">Monday</h3>
        @for (dividendAnnouncement of monday; track dividendAnnouncement) {
            <app-dividend-announcement [dividendAnnouncement]="dividendAnnouncement">
            </app-dividend-announcement>
        }
    </section>

    <section class="week__day">
        <h3 class="tq-section-label">Tuesday</h3>
        @for (dividendAnnouncement of tuesday; track dividendAnnouncement) {
            <app-dividend-announcement [dividendAnnouncement]="dividendAnnouncement">
            </app-dividend-announcement>
        }
    </section>

    <section class="week__day">
        <h3 class="tq-section-label">Wednesday</h3>
        @for (dividendAnnouncement of wednesday; track dividendAnnouncement) {
            <app-dividend-announcement [dividendAnnouncement]="dividendAnnouncement">
            </app-dividend-announcement>
        }
    </section>

    <section class="week__day">
        <h3 class="tq-section-label">Thursday</h3>
        @for (dividendAnnouncement of thursday; track dividendAnnouncement) {
            <app-dividend-announcement [dividendAnnouncement]="dividendAnnouncement">
            </app-dividend-announcement>
        }
    </section>

    <section class="week__day">
        <h3 class="tq-section-label">Friday</h3>
        @for (dividendAnnouncement of friday; track dividendAnnouncement) {
            <app-dividend-announcement [dividendAnnouncement]="dividendAnnouncement">
            </app-dividend-announcement>
        }
    </section>
</div>
