@let composition = depotComposition();
@let grouped = grouping();

<div class="position-list tq-scroll">
    <div class="position-list__header"
         [class.position-list__header--grouped]="grouped.groups.length > 0">
        <div class="position-list__total">
            @if (!hideAbsoluteValues()) {
                @let total = useBuyIn() ? composition.buyInAbsolute : composition.currentSizeAbsolute;
                <span class="tq-value tq-numeric">
                    {{ total | tqCurrency:depotCurrency() }}
                </span>
            }

            <app-performance-label [performanceAbsolute]="composition.performanceAbsolute"
                                   [performanceRelative]="composition.performanceRelative ?? 'infinity'"
                                   [currency]="depotCurrency()">
            </app-performance-label>
        </div>

        <div class="position-list__columns">
            <div class="position-list__columns-spacer"></div>
            <div class="position-list__column-label" style="width: 20%;">Size (%)</div>
            @if (!hideAbsoluteValues()) {
                <div class="position-list__column-label" style="width: 20%;">Size</div>
            }
            <div class="position-list__column-label" style="width: 15%;">Performance</div>
            <div class="position-list__column-label" style="width: 15%;">Income</div>
        </div>
    </div>

    @if (grouped.groups.length > 0) {
        @for (group of grouped.groups; track $index) {
            @let label = group | positionGroupText : useBuyIn() : hideAbsoluteValues() : false : depotCurrency();
            @let tooltip = group | positionGroupText : useBuyIn() : hideAbsoluteValues() : true : depotCurrency();
            <div class="position-list__group">
                <div class="position-list__gutter">
                    <span class="position-list__group-label"
                          [matTooltip]="tooltip">
                        {{ label }}
                    </span>
                    <div class="position-list__brace"></div>
                </div>
                <div class="position-list__group-rows">
                    @for (position of group.positions; track position) {
                        <app-position-list-row [position]="position"></app-position-list-row>
                    }
                </div>
            </div>
        }
    } @else {
        <div class="position-list__rows">
            @for (position of grouped.positions; track position) {
                <app-position-list-row [position]="position"></app-position-list-row>
            }
        </div>
    }
</div>
