@let depots = selectedDepots();
@if (depots.length > 0) {
    <mat-tab-group class="depot-page__tabs"
                   [selectedIndex]="selectedTab().index"
                   (selectedIndexChange)="onTabSelect($event)"
                   (animationDone)="onAnimationDone()">
        <mat-tab label="Positions"
                 [disabled]="!selectableTabs().positions">
            @if (renderTabContent() && selectedTab().tab === 'positions') {
                <app-position-page></app-position-page>
            }
        </mat-tab>

        <mat-tab label="Dividends"
                 [disabled]="!selectableTabs().dividends">
            @if (renderTabContent() && selectedTab().tab === 'dividends') {
                <app-dividend-page></app-dividend-page>
            }
        </mat-tab>

        <mat-tab label="Performance"
                 [disabled]="!selectableTabs().performance">
            @if (renderTabContent() && selectedTab().tab === 'performance') {
                <app-depot-performance></app-depot-performance>
            }
        </mat-tab>

        <mat-tab label="Transactions"
                 [disabled]="!selectableTabs().transactions">
            @if (renderTabContent() && selectedTab().tab === 'transactions') {
                <app-transaction-page></app-transaction-page>
            }
        </mat-tab>
    </mat-tab-group>
} @else {
    <div class="tq-empty">
        <mat-icon class="tq-empty__icon"
                  fontIcon="account_balance_wallet"></mat-icon>
        <span class="tq-empty__title">No depot yet</span>
        <span class="tq-empty__hint">Create a depot in the header to start tracking positions, dividends and performance.</span>
    </div>
}
