<app-title-toolbar (onClose)="cancel()"
                   title="Add Security">
</app-title-toolbar>

<mat-stepper class="wizard__stepper"
             linear>
    <mat-step label="Master Data"
              [completed]="addSecurityWizardStore.masterDataStepOk()">
        <app-security-master-data (masterDataChanged)="addSecurityWizardStore.setMasterData($event)"
                                  (logoChanged)="addSecurityWizardStore.setLogo($event)">
        </app-security-master-data>

        <div class="wizard__actions">
            <button [disabled]="!addSecurityWizardStore.masterDataStepOk()"
                    matButton="filled"
                    matStepperNext>
                Next
            </button>
        </div>
    </mat-step>

    <mat-step label="Historical Prices"
              [completed]="addSecurityWizardStore.historicalSecurityPriceConfigStepOk()">
        <app-historical-price-config (configChanged)="addSecurityWizardStore.setHistoricalSecurityPriceConfig($event)">
        </app-historical-price-config>

        <div class="wizard__actions">
            <button [disabled]="!addSecurityWizardStore.historicalSecurityPriceConfigStepOk()"
                    matButton="filled"
                    matStepperNext>
                Next
            </button>
        </div>
    </mat-step>

    <mat-step label="Dividend Announcements"
              [completed]="addSecurityWizardStore.dividendAnnouncementConfigStepOk()">
        <app-dividend-announcement-config (configChanged)="addSecurityWizardStore.setDividendAnnouncementConfig($event)">
        </app-dividend-announcement-config>

        <div class="wizard__actions">
            <button [disabled]="!addSecurityWizardStore.dividendAnnouncementConfigStepOk()"
                    matButton="filled"
                    matStepperNext>
                Next
            </button>
        </div>
    </mat-step>

    <mat-step label="Summary"
              [completed]="false">
        <app-summary [masterData]="addSecurityWizardStore.masterData()"
                     [historicalSecurityPriceConfig]="addSecurityWizardStore.historicalSecurityPriceConfig() ?? undefined"
                     [dividendAnnouncementConfig]="addSecurityWizardStore.dividendAnnouncementConfig() ?? undefined">
        </app-summary>

        <div class="wizard__actions">
            <button (click)="complete()"
                    [disabled]="!addSecurityWizardStore.allStepsOk()"
                    matButton="filled">
                Complete
            </button>
        </div>
    </mat-step>
</mat-stepper>
