@if (depotValues().length > 0) {
    <section class="tq-card performance-chart">
        <div class="performance-chart__canvas"
             (chartInit)="onChartInit($event)"
             [options]="depotValues() | depotPerformanceChart : hideAbsoluteValues() : currency() : showInvestedCapital() : filteredDepotValues() : benchmark()"
             echarts>
        </div>

        <div class="performance-chart__options">
            <mat-slide-toggle [checked]="addCashToAbsoluteValue()"
                              (change)="setAddCashToAbsoluteValue($event.checked)">
                Add Cash to Absolute Value
            </mat-slide-toggle>

            <mat-slide-toggle [checked]="showInvestedCapital()"
                              (change)="setShowInvestedCapital($event.checked)">
                Show Invested Capital
            </mat-slide-toggle>
        </div>
    </section>
}
