<div class="dividend-page">
    <div class="dividend-page__toolbar">
        <mat-button-toggle-group hideSingleSelectionIndicator="true">
            <mat-button-toggle (click)="selectView('barchart')"
                               [checked]="selectedView() === 'barchart'"
                               aria-label="Bar Chart"
                               matTooltip="Bar Chart">
                <mat-icon fontIcon="bar_chart"></mat-icon>
            </mat-button-toggle>

            <mat-button-toggle (click)="selectView('table')"
                               [checked]="selectedView() === 'table'"
                               aria-label="Dividend Yields"
                               matTooltip="Dividend Yields">
                <mat-icon fontIcon="table_chart"></mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-slide-toggle (change)="toggleUseGrossValues($event)"
                          [checked]="useGrossValues()">
            Use Gross Values
        </mat-slide-toggle>

        @if (showDiagramControls()) {
            <mat-slide-toggle (change)="toggleIncludeSpecialDividends($event)"
                              [checked]="includeSpecialDividends()">
                Include Special Dividends
            </mat-slide-toggle>

            <mat-button-toggle-group hideSingleSelectionIndicator="true">
                <mat-button-toggle (click)="selectAggregationTimespan('month')"
                                   [checked]="aggregationTimespan() === 'month'"
                                   aria-label="Aggregate by Month"
                                   matTooltip="Aggregate by Month">
                    M
                </mat-button-toggle>

                <mat-button-toggle (click)="selectAggregationTimespan('quarter')"
                                   [checked]="aggregationTimespan() === 'quarter'"
                                   aria-label="Aggregate by Quarter"
                                   matTooltip="Aggregate by Quarter">
                    Q
                </mat-button-toggle>

                <mat-button-toggle (click)="selectAggregationTimespan('year')"
                                   [checked]="aggregationTimespan() === 'year'"
                                   aria-label="Aggregate by Year"
                                   matTooltip="Aggregate by Year">
                    Y
                </mat-button-toggle>
            </mat-button-toggle-group>

            <span class="tq-spacer"></span>

            <button (click)="downloadImage()"
                    [disabled]="selectedDepotIds().length === 0"
                    mat-icon-button
                    aria-label="Download Chart as Image"
                    matTooltip="Download Chart as Image">
                <mat-icon fontIcon="file_download"></mat-icon>
            </button>
        }
    </div>

    <div id="dividend-view-container"
         class="dividend-page__view">
        @if (selectedView() === 'barchart') {
            <app-dividend-bar-chart></app-dividend-bar-chart>
        } @else if (selectedView() === 'table') {
            <app-dividend-yield-table></app-dividend-yield-table>
        }
    </div>
</div>
