<div class="security-group-page">
    <div class="security-group-page__list tq-scroll">
        @for (securityGroup of securityGroupStore.securityGroups(); track securityGroup.id) {
            <app-security-group-card [securityGroup]="securityGroup"
                                     (remove)="delete($event)">
            </app-security-group-card>
        }
        <app-security-group-card securityGroup="new">
        </app-security-group-card>
    </div>

    <div class="security-group-page__detail">
        <app-security-group-details></app-security-group-details>
    </div>
</div>
