<app-title-toolbar (onClose)="close()"
                   title="Database">
</app-title-toolbar>

<mat-drawer-container class="database__body"
                      autosize>
    <mat-drawer mode="side"
                opened>
        <div class="database__panel"
             [class.database__panel--open]="showConnectionData()">
            @if (showConnectionData()) {
                <div class="database__panel-head">
                    <span class="tq-section-label">Connection</span>
                    <button mat-icon-button
                            aria-label="Hide Connection Data"
                            matTooltip="Hide Connection Data"
                            (click)="toggleHideConnectionData()">
                        <mat-icon fontIcon="chevron_left"></mat-icon>
                    </button>
                </div>

                <div class="database__entry">
                    <span class="tq-section-label">JDBC URL</span>
                    <div class="database__value">
                        <span class="database__value-text">{{ databaseConfig().connectionString }}</span>
                        <mat-icon class="database__copy"
                                  fontIcon="content_copy"
                                  matTooltip="Copy"
                                  (click)="toggleHideConnectionData()"
                                  [cdkCopyToClipboard]="databaseConfig().connectionString">
                        </mat-icon>
                    </div>
                </div>

                <div class="database__entry">
                    <span class="tq-section-label">Username</span>
                    <div class="database__value">
                        <span class="database__value-text">{{ databaseConfig().username }}</span>
                        <mat-icon class="database__copy"
                                  fontIcon="content_copy"
                                  matTooltip="Copy"
                                  (click)="toggleHideConnectionData()"
                                  [cdkCopyToClipboard]="databaseConfig().username">
                        </mat-icon>
                    </div>
                </div>

                <div class="database__entry">
                    <span class="tq-section-label">Password</span>
                    <div class="database__value">
                        <span class="database__value-text">{{ databaseConfig().password }}</span>
                        <mat-icon class="database__copy"
                                  fontIcon="content_copy"
                                  matTooltip="Copy"
                                  (click)="toggleHideConnectionData()"
                                  [cdkCopyToClipboard]="databaseConfig().password">
                        </mat-icon>
                    </div>
                </div>

                @if (databaseConfig().fileLocation != null) {
                    <div class="database__entry">
                        <span class="tq-section-label">File Location</span>
                        <div class="database__value">
                            <span class="database__value-text">{{ databaseConfig().fileLocation }}</span>
                            <mat-icon class="database__copy"
                                      fontIcon="content_copy"
                                      matTooltip="Copy"
                                      (click)="toggleHideConnectionData()"
                                      [cdkCopyToClipboard]="databaseConfig().fileLocation ?? ''">
                            </mat-icon>
                        </div>
                    </div>
                }
            } @else {
                <button mat-icon-button
                        aria-label="Show Connection Data"
                        matTooltip="Show Connection Data"
                        (click)="toggleHideConnectionData()">
                    <mat-icon fontIcon="chevron_right"></mat-icon>
                </button>
            }
        </div>
    </mat-drawer>

    <iframe class="database__console"
            title="H2 console"
            [src]="databaseWebInterfaceUrl()">
    </iframe>
</mat-drawer-container>
