.obfuscated {
  display: inline-block;
  font-size: var(--tq-font-size-2xl);
  font-weight: 700;
  line-height: var(--tq-line-height-tight);
  letter-spacing: 0.1875rem;
  color: var(--tq-text);
  filter: blur(0.3125rem);
  opacity: 0.8;

  // security (in case real values are being blurred)
  pointer-events: none; // prevent mouse-over events
  user-select: none; // prevent text selection
}
