<app-title-toolbar (onClose)="cancel()"
                   title="Create Depot">
</app-title-toolbar>

<div class="tq-dialog__body">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input (keyup.enter)="createDepot()"
               [(ngModel)]="name"
               matInput
               type="text">
    </mat-form-field>

    <app-currency-select (onCurrencySelect)="setCurrency($event)"></app-currency-select>
</div>

<div class="tq-dialog__actions">
    <button (click)="cancel()"
            matButton>
        Cancel
    </button>
    <button (click)="createDepot()"
            [disabled]="name.trim().length === 0"
            matButton="filled">
        Create
    </button>
</div>
