<div class="depot-select">
    <mat-form-field class="depot-select__field"
                    subscriptSizing="dynamic">
        <mat-label>Depot</mat-label>
        <mat-select [disabled]="selectionDisabled()"
                    [value]="selectedDepotIds()"
                    multiple>
            @if (selectedDepots().length > 0) {
                <mat-select-trigger>
                    {{ selectedDepots()[0].name }}
                    @if (selectedDepots().length > 1) {
                        <span class="depot-select__count">
                            +{{ selectedDepots().length - 1 }} {{ selectedDepots().length === 2 ? 'other' : 'others' }}
                        </span>
                    }
                </mat-select-trigger>
            }
            @if (availableCurrencies().length > 1) {
                @for (currency of availableCurrencies(); track currency) {
                    <mat-optgroup label="{{currency | tqCurrencySymbol}} {{currency}}">
                        @for (depot of allDepotsByCurrency()[currency]; track depot.id) {
                            <mat-option (click)="onDepotClick(depot)"
                                        [value]="depot.id">
                                <span class="depot-select__option">
                                    @if (depot._links.logo != null) {
                                        <img alt=""
                                             class="depot-select__option-logo"
                                             [src]="depot.id | depotLogoUrl"/>
                                    }
                                    {{ depot.name }}
                                </span>
                            </mat-option>
                        }
                    </mat-optgroup>
                }
            } @else {
                @for (depot of allDepots(); track depot.id) {
                    <mat-option (click)="onDepotClick(depot)"
                                [value]="depot.id">
                        <span class="depot-select__option">
                            @if (depot._links.logo != null) {
                                <img alt=""
                                     class="depot-select__option-logo"
                                     [src]="depot.id | depotLogoUrl"/>
                            }
                            {{ depot.name }}
                        </span>
                    </mat-option>
                }
            }
        </mat-select>
    </mat-form-field>

    <button (click)="createDepot()"
            mat-icon-button
            aria-label="Add a new depot"
            matTooltip="Add a new depot">
        <mat-icon fontIcon="add"></mat-icon>
    </button>

    <button (click)="deleteDepot()"
            [disabled]="selectedDepots().length === 0"
            mat-icon-button
            aria-label="Delete the selected depot"
            matTooltip="{{selectedDepots().length > 0 ? 'Delete ' + selectedDepots()[0].name : ''}}">
        <mat-icon fontIcon="delete"></mat-icon>
    </button>
</div>
